<h5>Ajouter un jeu au catalogue</h5>

<form class="form_base" [formGroup]="newGameForm">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput id="name" type="text" formControlName="Name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      id="description"
      type="text"
      formControlName="Description"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre joueurs min</mat-label>
    <input
      matInput
      id="minNumberPlayer"
      type="number"
      formControlName="MinNumberPlayers"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre joueurs max</mat-label>
    <input
      matInput
      id="maxNumberPlayer"
      type="number"
      formControlName="MaxNumberPlayers"
    />
  </mat-form-field>
</form>

<div class="buttons">
  <button
    mat-button
    color="primary"
    [disabled]="newGameForm.invalid"
    (click)="saveNewGame()"
  >
    Ajouter
  </button>
  <button mat-button color="warn" (click)="closeDialog()">Annuler</button>
</div>
