.game-card {
  max-width: 300px;
  min-width: 300px;
  margin-bottom: 8px;
  margin-right: 18px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.game-card_titleGroup {
  margin: 1em;
}

.game-card_img {
  margin-left: 2em;
}
