<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{Game.name}}</mat-card-title>
      <mat-card-subtitle>{{Game.maxNumberPlayers}} à {{Game.minNumberPlayers}} joueurs</mat-card-subtitle>
      <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
        {{Game.description}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary">Créer une partie</button>
    <button mat-stroked-button color="accent">Trouver une partie</button>
  </mat-card-actions>
</mat-card>
