<mat-card class="game-card">
  <mat-card-title-group class="game-card_titleGroup">
    <mat-card-title>{{ Game.name }}</mat-card-title>
    <mat-card-subtitle>{{ Game.year }}</mat-card-subtitle>
    <mat-card-subtitle
      >{{ Game.minNumberPlayers }} à
      {{ Game.maxNumberPlayers }} joueurs</mat-card-subtitle
    >
    <img class="game-card_img" mat-card-md-image src="{{ Game.imageLink }}" />
  </mat-card-title-group>
  <mat-card-content>
    {{ Game.description }}
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="buttons">
    <button *ngIf="CanCreate" mat-stroked-button color="primary">
      Créer une partie
    </button>
    <button
      *ngIf="CanCreate"
      mat-stroked-button
      color="secondary"
      (click)="versionGameDialog()"
    >
      Stock
    </button>
    <button
      *ngIf="CanModify"
      mat-stroked-button
      color="accent"
      (click)="updateGameDialog()"
    >
      Modifier
    </button>
  </mat-card-actions>
</mat-card>
