<h5>Modifiez un jeu au catalogue</h5>

<form class="form_base" [formGroup]="gameForm">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput id="name" type="text" formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Année</mat-label>
    <input matInput id="year" type="number" formControlName="year" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      id="description"
      type="text"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre joueurs min</mat-label>
    <input
      matInput
      id="minNumberPlayer"
      type="number"
      formControlName="minNumberPlayers"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre joueurs max</mat-label>
    <input
      matInput
      id="maxNumberPlayer"
      type="number"
      formControlName="maxNumberPlayers"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput id="image" type="text" formControlName="imageLink" />
  </mat-form-field>
</form>

<div class="buttons">
  <button
    mat-button
    color="primary"
    [disabled]="gameForm.invalid"
    (click)="updateGame()"
  >
    Modifier
  </button>
  <button mat-button color="warn" (click)="closeDialog()">Annuler</button>
</div>
